<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Save Articles</span>          
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Saved Articles<span class="sr-only">(current)</span></a>
                  </li>
              </nav>     


<div class="articles">


        {{#each article}}
        {{#if saved}}

        {{!-- <div class="articlelist"> --}}


<div class="card">
  
  <div class="card-body">
    <h5 class="card-title"> <a href = {{link}}>{{title}}</a></h5>
   <img class="artimage" src="{{image}}">
   <div class="card-body"></div>
    <p class="card-text">{{summary}}</p>
    <button class="btn btn-sm btn-outline-secondary save" type="button" data-id="{{_id}}"> Save</button>
   </div>
  </div>
</div>
           

       {{/if}}
        {{/each}}
    </div>











 