<div id="modal1{{this._id}}" class="modal">
    <div class="modal-content mainmodal">
        <h4 id="modaltitle">{{this.title}}</h4>
        <hr class="hrdetail">
       
    {{#if this.notes}}
    {{#each this.notes}}
     
        <p id="notetext">{{this.note}}</p>
        <button class="btn-small notedelete #40c4ff light-blue accent-2" data-note-id={{this._id}} data-article-id={{this.article}}>Delete Note</button> 
        <hr class="hrdetail">

    {{/each}}
    {{else}}
        <h4 id="nonotes">No notes are available yet</h4>
    {{/if}}
    <div class="row">
        <form class="col s12">
            <div class="row inputrow">
                <div class="input-field col s12">
                    <textarea id="noteText{{this._id}}" class="materialize-textarea textmargin"></textarea>
                    <label for="textarea1" id="noteText2{{this._id}}" class="textinput"><span class="#40c4ff blue-text">Enter a Note</span></label>
                </div>
            <button data-id={{this._id}} class="btn savenote #40c4ff light-blue accent-2">Save Note</button>
            </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
         <button id="closebtn" class="modal-close waves-effect waves-green btn-flat #40c4ff light-blue accent-2">Close</button>
      {{!-- <a href="#!" id="closebtn" class="modal-close waves-effect waves-green btn-flat #40c4ff light-blue accent-2">Close</a> --}}
    </div>
</div>








 
  